<div class="home">
  <div class="home__title"><h1>The Weather Channel</h1></div>
  <div class="home__header">
    <div class="home__searchInput">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
      <input
        class="home__input"
        matInput
        placeholder="Search City"
        rol="textbox"
      />
    </div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Celsius</mat-radio-button>
      <mat-radio-button value="2">Fahrenheit</mat-radio-button>
    </mat-radio-group>
  </div>
  <p></p>
  <div class="home__selected">city weather</div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center my-4">Weather Details:</h3>
      <p class="text-center">Current weather conditions:</p>
      <p class="text-center">Temperature in Degrees Celsius:</p>
      <p class="text-center">Temperature in Degrees Farenheit:</p>
      <p class="text-center">Feels like in Degrees Celsius:</p>
      <p class="text-center">Feels like in Degrees Farenheit:</p>
      <p class="text-center">Location Searched:</p>
    </div>
  </div>
</div>
