<div class="home">
  <div class="home__title">
    <h1 class="home__title-text">The Weather Channel</h1>
    <ul class="home__links">
      <li class="home__favorites-link">
        <a [routerLink]="['/']" routerLinkActive="home__favorites-link--active"
          >Home</a
        >
        <a
          [routerLink]="['/favorites']"
          routerLinkActive="home__favorites-link--active"
          >Favorites</a
        >
      </li>
    </ul>
    <!-- <app-favorites
      *ngFor="let favorite of favoritesList; let i = index"
      [favorite]="favorite"
      [favoriteIndex]="i"
      (onRemove)="removeFavorite($event)"
      [favoritesList]="favoritesList"
    >
    </app-favorites> -->
  </div>
  <div class="home__header">
    <div class="home__searchInput">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
      <input
        class="home__input"
        matInput
        placeholder="Search City"
        rol="textbox"
      />
    </div>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Celsius</mat-radio-button>
      <mat-radio-button value="2">Fahrenheit</mat-radio-button>
    </mat-radio-group>
  </div>
  <p></p>

  <div class="home__row" *ngIf="weather$ | async as weather">
    <div class="col-md-6">
      <h3 class="home__row-detail">
        <b>{{ cityName }}</b>
        <p type="date" data-date="" data-date-format="DD MMMM YYYY">
          {{ currentTime }}
        </p>
      </h3>
      <p class="home__row-detail">
        Current weather conditions:
        {{ weather.PrecipitationType }}
      </p>
      <p class="home__row-detail">
        Temperature in Degrees Celsius: {{ currentCelsiusDeg }}
      </p>
      <p class="home__row-detail">
        Temperature in Degrees Farenheit:
        {{ currentFahrenheitDeg }}
      </p>
      <p class="home__row-detail">
        {{ currentWeatherStaus }}
      </p>
    </div>
  </div>
  <div class="fav" *ngIf="isFavorite; else favorite_border">
    <mat-icon (click)="clickFavoritesButton(cityName)">favorite</mat-icon>
  </div>
  <ng-template #favorite_border
    ><mat-icon (click)="clickFavoritesButton(cityName)"
      >favorite_border</mat-icon
    ></ng-template
  >
</div>
